<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        span {
            font-size: 12px;
        }

        .table td {
            cursor: pointer;
        }

        .table td>div {
            border: 1px solid black;
            height: 80%;
            width: 45%;
            display: inline-block;
            padding-top: 3%;
            cursor: pointer;
        }

        .select {
            background: lightgray;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>
    <div th:replace="~{views/common/navbar :: navbar}"></div>
    <div th:replace="~{views/common/adminSymbol :: symbol}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{views/common/adminbar :: sidebar}"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Boards</h1>
                </div>

                <div class="bd-example">
                    <table class="table table-hover" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>TITLE</th>
                                <th>WRITER</th>
                                <th>CREATE</th>
                                <th>MODIFY</th>
                                <th>VIEWS</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="b:${list}">
                                <td>[[${b.boardId}]]</td>
                                <td>[[${b.boardTitle}]]</td>
                                <td>[[${b.nickName}]]</td>
                                <td>[[${b.createDate}]]</td>
                                <td>[[${b.modifyDate}]]</td>
                                <td>[[${b.boardCount}]]</td>
                                <td>
                                    <div th:class="${b.status == 'Y'?'select':''}">Y</div>
                                    <div th:class="${b.status == 'N'?'select':''}">N</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Standard pagination example" style="float: right;">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                            <a class="page-link" th:href="@{${loc}(page=${p})}" th:text="${p}"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{${loc}(page=${pi.currentPage+1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </main>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1"
        aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- 제목 -->
                <div class="modal-body"></div>
                <!-- 작성자 -->
                <div class="modal-body" style="text-align: right; font-size: 14px;"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">게시글 올리기</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        window.onload = () => {
            const tbody = document.querySelector("tbody");
            const tds = tbody.querySelectorAll("td");
            /*<![CDATA[*/
            const list = /*[[${list}]]*/ null;
            /*]]>*/
            let boardId = null;
            let divs = null;

            const modalBody = document.querySelectorAll(".modal-body");
            const modalButton = modalBody[1].nextElementSibling.querySelector("button");

            for (const td of tds) {

                if (td.children.length == 0) {
                    td.setAttribute("data-bs-toggle", "modal");
                    td.setAttribute("data-bs-target", "#exampleModalCenteredScrollable");
                }

                td.addEventListener("click", function () {
                    const trTds = this.parentElement.querySelectorAll("td");
                    boardId = trTds[0].innerText;
                    divs = trTds[6].children;
                    for (const b of list) {
                        if (b.boardId == boardId) {
                            document.querySelector(".modal-title").innerText = b.boardTitle;
                            document.querySelectorAll(".modal-body")[0].innerText = b.boardContent;
                            document.querySelectorAll(".modal-body")[1].innerText = b.nickName;
                            if (b.status == 'Y') {
                                modalButton.innerText = "게시글 내리기";
                                modalButton.className = "btn btn-dark";
                            } else {
                                modalButton.innerText = "게시글 올리기";
                                modalButton.className = "btn btn-primary";
                            }
                            break;
                        }
                    }
                });

                // const tableButtons = td.querySelectorAll("div");

                // divs = document.querySelector("tbody").querySelectorAll("div");
                // console.log(document.querySelector("tbody"));

                // for (const div of divs) {
                //     div.addEventListener("click", function () {
                //         const boardId = this.parentElement.parentElement.querySelectorAll("td")[0].innerText;
                //         const status = this.parentElement.querySelector(".select").innerText;
                //         console.log("boardId : " + boardId + ", " + status);
                //         if (this.className == "select") {
                //             alert("already");
                //         } else {
                //             if (status == 'Y') {
                //                 fetch("/admin/status", {
                //                     method: "put",
                //                     headers: { "content-type": "application/json; charset=UTF-8" },
                //                     body: JSON.stringify({
                //                         boardId: boardId,
                //                         status: status
                //                     })
                //                 })
                //                     .then(response => response.json())
                //                     .then(data => {
                //                         if (data == 1) {
                //                             for (const div of divs) {
                //                                 div.classList.toggle("select");
                //                             }
                //                         } else {
                //                             alert("");
                //                             location.reload();
                //                         }
                //                     })
                //             }
                //         }
                //     });
                // }
            }

            divs = document.querySelector("tbody").querySelectorAll("div");
            console.log(divs);
            for (const div of divs) {
                div.addEventListener("click", function () {
                    const boardId = this.parentElement.parentElement.querySelectorAll("td")[0].innerText;
                    const beforeStatus = this.parentElement.querySelector(".select").innerText;
                    const status = beforeStatus == 'Y' ? 'N' : 'Y';
                    console.log("boardId : " + boardId + ", before : " + beforeStatus + ", after : " + status);
                    if (this.className == "select") {
                        alert("already");
                    } else {
                        fetch("/admin/status", {
                            method: "put",
                            headers: { "content-type": "application/json; charset=UTF-8" },
                            body: JSON.stringify({
                                boardId: boardId,
                                status: status
                            })
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data == 1) {
                                    for (const div of divs) {
                                        div.classList.toggle("select");
                                    }
                                } else {
                                    alert("");
                                    location.reload();
                                }
                            })
                    }
                });
            }

            modalButton.addEventListener("click", function () {
                const status = this.innerText == "게시글 내리기" ? 'N' : 'Y';
                console.log(this.innerText);
                console.log(status);
                fetch("/admin/status", {
                    method: "put",
                    headers: { 'content-type': 'application/json; charset=UTF-8' },
                    body: JSON.stringify({
                        boardId: boardId,
                        status: status
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log("data : " + data);
                        if (data == 1) {
                            if (status == 'N') {
                                this.innerText = "게시글 올리기";
                                this.className = "btn btn-primary";
                            } else {
                                this.innerText = "게시글 내리기";
                                this.className = "btn btn-dark";
                            }
                        }
                        for (const div of divs) {
                            div.classList.toggle("select");
                        }
                    })
            });


        }
    </script>
</body>

</html>