<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        span {
            font-size: 12px;
        }

        .table td {
            cursor: pointer;
        }

        .table td>div {
            border: 1px solid black;
            height: 80%;
            width: 45%;
            display: inline-block;
            padding-top: 3%;
            cursor: pointer;
        }

        .select {
            background: lightgray;
        }

        .unselect {
            background: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>
    <div th:replace="~{views/common/navbar :: navbar}"></div>
    <div th:replace="~{views/common/adminSymbol :: symbol}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{views/common/adminbar :: sidebar}"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Members</h1>
                    <div>
                        <span>* 더블클릭을 하면 수정 칸으로 바뀝니다</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>* 수정 후 엔터를 누르면 수정이 완료됩니다</span>
                    </div>
                </div>

                <div class="bd-example">
                    <table class="table table-hover" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>NICKNAME</th>
                                <th>EMAIL</th>
                                <th>GENDER</th>
                                <th>AGE</th>
                                <th>PHONE</th>
                                <th>ADDRESS</th>
                                <th>ENROLL</th>
                                <th>ADMIN</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="m:${list}">
                                <td th:text="${m.id}"></td>
                                <td>[[${m.name}]]</td>
                                <td th:text="${m.nickName}"></td>
                                <td>[[${m.email == null ? '-' : m.email}]]</td>
                                <td th:text="${m.gender}"></td>
                                <td>[[${m.age}]]</td>
                                <td th:text="${m.phone == null ? '-' : m.phone}"></td>
                                <td>[[${m.address == null ? '-' : m.address}]]</td>
                                <td th:text="${m.enrollDate}"></td>
                                <td>
                                    <div th:class="${m.isAdmin == 'Y' ? 'select' : 'unselect'}">Y</div>
                                    <div th:class="${m.isAdmin == 'N' ? 'select' : 'unselect'}">N</div>
                                </td>
                                <td>
                                    <div th:class="${m.memberStatus == 'Y' ? 'select' : 'unselect'}">Y</div>
                                    <div th:class="${m.memberStatus == 'N' ? 'select' : 'unselect'}">N</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <script>
        window.onload = () => {
            const tds = document.getElementsByTagName('td');
            let beforeData = null;

            document.querySelector('body').addEventListener('click', (event) => {
                for (let i = 0; i < tds.length; i++) {
                    if (tds[i].children[0] != undefined && tds[i].children[0].value != undefined) {
                        if (event.target.value == undefined) {
                            tds[i].innerHTML = '<td>' + beforeData + '</td>';
                        }
                    }
                }
            });

            for (let i = 0; i < tds.length; i++) {
                tds[i].addEventListener('dblclick', function () {

                    for (let j = 0; j < tds.length; j++) {
                        if (tds[j].children[0] != undefined && tds[j].children[0].value != undefined) {
                            tds[j].innerHTML = '<td>' + beforeData + '</td>';
                            break;
                        }
                    }

                    const index = i % 11; // index가 0~10까지 필요한 경우라서 
                    if (index != 0 && index != 8 && index != 9 && index != 10) {
                        beforeData = this.innerText;
                        if (index == 3) {
                            const domain = this.innerText.split('@')[1];
                            let selected = '<select class="updateData">\
                                 <option>naver.com</option>\
                                 <option>gmail.com</option>\
                                 <option>nate.com</option>\
                                 <option>hanmail.com</option>\
                              </select>';
                            if (domain == 'gmail.com') {
                                selected = '<select class="updateData">\
                                 <option>naver.com</option>\
                                 <option selected>gmail.com</option>\
                                 <option>nate.com</option>\
                                 <option>hanmail.com</option>\
                              </select>';
                            } else if (domain == 'nate.com') {
                                selected = '<select class="updateData">\
                                 <option>naver.com</option>\
                                 <option>gmail.com</option>\
                                 <option selected>nate.com</option>\
                                 <option>hanmail.com</option>\
                              </select>';
                            } else if (domain == 'hanmail.net') {
                                selected = '<select class="updateData">\
                                 <option>naver.com</option>\
                                 <option>gmail.com</option>\
                                 <option>nate.com</option>\
                                 <option selected>hanmail.com</option>\
                              </select>';
                            }
                            this.innerHTML = '<input type="text" value="' + this.innerText.split('@')[0] + '" size="5"  class="updateData">@' + selected;
                        } else if (index == 4) {
                            let checked = '<input type="radio" name="gender" value="M" class="updateData"> M\
                              <input type="radio" name="gender" value="F" checked class="updateData"> F';
                            if (this.innerText == 'M') {
                                checked = '<input type="radio" name="gender" value="M" checked class="updateData"> M\
                              <input type="radio" name="gender" value="F" class="updateData"> F';
                            }
                            this.innerHTML = checked;
                        } else if (index == 5) {
                            this.innerHTML = '<input type="number" value"' + this.innerText + '" size="%" min="0" max="100 class="updateData"">';
                        } else {
                            this.innerHTML = '<input type="text" value="' + this.innerText + '" size="12" class="updateData">';
                        }

                        const updateDatas = document.getElementsByClassName('updateData');
                        console.log(updateDatas);
                        for (const update of updateDatas) {
                            update.addEventListener('keyup', function (event) {
                                if (event.key == 'Enter') {
                                    let updData = '';
                                    if (updData.type == 'radio') {
                                        for (const elem of updataDatas) {
                                            if (elem.checked) {
                                                updData = elem.value;
                                                break;
                                            }
                                        }
                                    } else {
                                        for (let i = 0; i < updateDatas.length; i++) {
                                            if (i == 0) {
                                                updData = updateDatas[i].value;
                                            } else {
                                                updData += '@' + updateDatas[i].value;
                                            }
                                        }
                                    }
                                    $.ajax({
                                        url: '/admin/members',
                                        type: 'put',
                                        data: {
                                            val: updData,
                                            col: document.getElementsByTagName('th')[index].innerText,
                                            id: this.parentElement.parentElement.children[0].innerText
                                        },
                                        success: data => {
                                            if (data == 1) {
                                                this.parentElement.innerText = updData;
                                            } else {
                                                alert("수정에 실패하여 퍼에지를 새로고침 합니다.")
                                                location.reload();
                                            }
                                        }
                                    });

                                }
                            });
                        }
                    } else {
                        alert('수정할 수 없는 항목입니다.');
                    }
                });
            }
        }
    </script>
</body>

</html>