<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
td:hover {
	cursor: pointer;
}
</style>
</head>
<body>
	<div th:replace="views/common/navbar.html"></div>

	<div class="container py-4">
		<div class="bd-example-snippet bd-code-snippet">
			<div class="p-5 mb-4 bg-light rounded-3">
				<div class="container-fluid py-5">
					<h1 class="display-5 fw-bold">General Board</h1>
				</div>
			</div>
			<div class="bd-example">
				<table class="table table-hover">
					<thead>
						<tr>
							<th width="80px">글 번호</th>
							<th>글 제목</th>
							<th width="130px">작성자</th>
							<th width="130px">작성일자</th>
							<th width="80px">조회수</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="b : ${list}">
							<td th:text="${b.boardId}"></td>
							<td th:text="${b.boardTitle}"></td>
							<td th:text="${b.nickName}"></td>
							<td th:text="${b.createDate}"></td>
							<td th:text="${b.boardCount}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<nav aria-label="Standard pagination example" style="float: right;">
			<ul class="pagination">

				<li class="page-item"><a class="page-link"
					th:href="@{${loc}(page=${pi.currentPage-1})}"aria-label="Previous"> 
					<span aria-hidden="true">&laquo;</span>
				</a></li>

				<li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
					<a class="page-link" th:href="@{${loc}(page=${p})}" th:text="${p}"></a>
				</li>
				

				<li class="page-item"><a class="page-link" 
					th:href="@{${loc}(page=${pi.currentPage+1})}" aria-label="Next"> 
					<span aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>


		<button class="btn btn-outline-success" type="button"
			onclick="location.href='/board/write'"
			th:if="${session.loginUser != null}">WRITE BOARD</button>
	</div>
	<script type="text/javascript" th:inline="javascript">
		window.onload=()=>{
			const tbody = document.querySelector("tbody");
			const tds = tbody.querySelectorAll("td");
			for (const td of tds){
				td.addEventListener("click", function(){
					const trTds = this.parentElement.querySelectorAll("td");
					console.log(trTds);
					const boardId = trTds[0].innerText;
					console.log(boardId);
					location.href="/board/"+boardId+"/"+
					/*[[${pi.currentPage}]]*/1;
				});
			}
		}
	</script>
</body>
</html>