<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org..DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.springboot.member.model.mapper.MemberMapper">
	<!-- <select id="login" resultType="Member">
		select * from member
		where id=#{id} and pwd = #{pwd}
		and member_status = 'Y'
	</select> -->
	<select id="login" resultType="Member">
		select * from member
		where id=#{id}
		and member_status = 'Y'
	</select>
	<insert id="insert">
		insert into member
		values(#{id}, #{pwd}, #{name}, #{nickName},
		 #{email}, #{gender}, #{age}, #{phone}, #{address},
		  default, default, default, default)
	</insert>
	<select id="selectMyList" resultType="map">
		<![CDATA[
		select id_type, board_title, modify_date, count_content
		from (select board_id id_type, board_title, board_modify_date modify_date, to_char(board_count) count_content
		    from board
		    where board_writer= #{id} and board_status='Y'
		    order by board_id desc)
		where rownum<6
		union
		select *
		from (select board_type-3, board_title, reply_modify_date, reply_content
		        from reply
		        join board on (board_id=ref_board_id)
		        where reply_writer = #{id} and reply_status='Y'
		        order by reply_id desc)
		where rownum<6
		order by id_type desc
		]]>
	</select>
	<update id="editMemberInfo">
		update member
		set name=#{name}, nickname=#{nickName}, email=#{email},
			gender=#{gender}, age=#{age}, phone=#{phone}, address=#{address},
			update_date= sysdate
		where id = #{id}
	</update>
	
	<update id="updatePassword">
		update member
		set pwd=#{newPwd}
		where id=#{id}
	</update>
	
	<update id="deleteMember">
		update member
		set member_status='N'
		where id=#{id}
	</update>
	
	<select id="checkValue" resultType="_int">
		select count(*)
		from member
		where ${col} = #{value}
	</select>
	
	<update id="updateProfile">
		update member
		set profile = #{profile}
		where id = #{id}
	</update>
	
	<select id="findInfo" resultType="Member">
		select *
		from member
		where member_status ='Y'
		<if test="name != null">
			and email=#{email} and name=#{name}
		</if>
		<if test="name == null">
			and email=#{email} and id=#{id}
		</if>
	</select>
	
	<select id="selectTodoList" resultType="TodoList">
		select *
		from todo_list
		where writer = #{id}
		order by todo_num
	</select>
	
	<insert id="insertTodo">
		insert into todo_list
		values(seq_lid.nextval, #{todo}, #{writer}, default, default)
	</insert>
	
	<update id="updateTodo">
		update todo_list
		<if test="status != null">
			set status = #{status}
		</if>
		<if test="important != null">
			set important = #{important}
		</if>
		where todo_num = #{todoNum}
	</update>
	
	<delete id="deleteTodo">
		delete from todo_list
		where todo_num = #{todoNum}
	</delete>
</mapper>