<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta charset="utf-8">
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body>
	<main>
		<div th:replace="views/common/navbar.html"></div>
		
		<div class="container py-4">
			<div class="p-5 mb-4 bg-light rounded-3">
				<div class="container-fluid py-5">
					<h1 class="display-5 fw-bold">Spring Framework</h1>
					<p class="col-md-8 fs-4">
						The Spring Framework provides a comprehensive programming and configuration model 
						for modern Java-based enterprise applications - on any kind of deployment platform.
					</p>

					<p>
						<table class="table">
							<thead>
								<tr>
									<th with="100px">글 번호</th>
									<th>제목</th>
									<th width="200px">작성자</th>
									<th width="200px">작성일자</th>
									<th widh="100px">조회수</th>
								</tr>
							</thead>
							<tbody>
							
							</tbody>
						</table>
					</p>

					<th:block th:unless="${session.loginUser != null}">
						<button class="btn btn-primary btn-lg" type="button" 
						onclick="location.href='/member/signIn'" >
						SIGN IN</button>
						<button class="btn btn-primary btn-lg" type="button" 
						onclick="location.href='/member/enroll'">
						SIGN UP</button>
						<button class="btn btn-primary btn-lg" type="button" 
						onclick="location.href='/member/findIDPW'">
						FIND ID/PW</button>
					</th:block>
					<p class="col-md-8 fs-4 fw-bold" th:if="${session.loginUser!=null}">
						[[${session.loginUser.nickName}]]님 환영합니다.
						<button class="btn btn-success btn-lg" type="button" onclick="location.href='/member/myInfo'">
							MY PAGE</button>
						<button class="btn btn-dark btn-lg" type="button" onclick="location.href='/member/logout'">
							LOGOUT</button>
					</p>
					
				</div>
			</div>

			<div class="row align-items-md-stretch">
				<div class="col-md-6">
					<div class="h-100 p-5 text-bg-dark rounded-3">
						<h2>Standard Board</h2>
						<p>
							This is the general bulletin board. 
							You can view the entire post, view the details, write, modify and delete the post, and even implement the comment function in the post.
						</p>
						<button class="btn btn-outline-light" type="button" onclick="location.href='/board/list'">GO TO BOARD</button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="h-100 p-5 bg-light border rounded-3">
						<h2>Photo Board</h2>
						<p>
							This bulletin board allows you to add attachments such as photos to your post. 
							As you implement attachment functions, bulletin board functions become more colorful.
						</p>
						<button class="btn btn-outline-secondary" type="button" onclick="location.href='/attm/list'">GO TO PHOTO</button>
					</div>
				</div>
			</div>

			<footer class="pt-3 mt-4 text-muted border-top"> &copy; 2022 </footer>
		</div>
	</main>

	<script type="text/javascript">
		const topList =  function(){
			$.ajax({
				url: "/board/top",
				// dataType: "json",
				success: data=>{
					const tbody = document.getElementsByClassName("table")[0].querySelector("tbody");
					for (const obj of data){

						const tr = document.createElement("tr");

						const td1 = document.createElement("td");
						td1.innerText = obj.boardId;

						const td2 = document.createElement("td");
						td2.innerText = obj.boardTitle;

						const td3 = document.createElement("td");
						td3.innerText = obj.nickName;

						const td4 = document.createElement("td");
						td4.innerText = obj.modifyDate;

						const td5 = document.createElement("td");
						td5.innerText = obj.boardCount;

						tr.append(td1);
						tr.append(td2);
						tr.append(td3);
						tr.append(td4);
						tr.append(td5);
						tbody.append(tr);
					}
				},

			});
		}
		window.onload=()=>{
			setInterval(topList(), 2000);
		}
	</script>
</body>
</html>
