<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        span {
            font-size: 12px;
        }

        .table td {
            cursor: pointer;
        }

        .status {
            border: 1px solid black;
            height: 80%;
            width: 45%;
            display: inline-block;
            padding-top: 3%;
            cursor: pointer;
        }

        .selectState {
            background: lightgray;
        }

        .content:hover {
            cursor: pointer;
            background: #eee;
            border-radius: .75rem;
        }

        .thumbnail {
            width: 4rem;
            height: 4rem;
        }

        .img-border {
            border-radius: .75rem;
        }

        .img-border * {
            border-radius: .75rem;
            border: 1px solid lightgray;
        }

        .contentImg {
            width: 3rem;
            height: 3rem;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>
    <div th:replace="~{views/common/navbar :: navbar}"></div>
    <div th:replace="~{views/common/adminSymbol :: symbol}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{views/common/adminbar :: sidebar}"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Attachment</h1>
                </div>

                <div class="row g-4 py-1 row-cols-lg-3">
                    <div th:each="b : ${list}">
                        <!-- clickContent -->
                        <div class="content" data-bs-toggle="modal" data-bs-target="#exampleModalCenteredScrollable">
                            <input type="hidden" class="no" th:value="${b.boardId}">
                            <div class="imgsDiv">
                                <th:block th:each="a:${aList}" th:if="${a.refBoardId == b.boardId}">
                                    <th:block
                                        th:if="${#strings.containsIgnoreCase(a.renameName, 'jpg') or #strings.containsIgnoreCase(a.renameName, 'png')}">
                                        <div class="thumbnail d-inline-flex img-border" th:if="${a.attmLevel ==0}">
                                            <img th:src="@{/}+${a.renameName}" width="100%">
                                        </div>
                                        <div class="contentImg d-inline-flex img-border" th:if="${a.attmLevel !=0}">
                                            <img th:src="@{/}+${a.renameName}" width="100%">
                                        </div>
                                    </th:block>
                                    <th:block
                                        th:unless="${#strings.containsIgnoreCase(a.renameName, 'jpg') or #strings.containsIgnoreCase(a.renameName, 'png')}">
                                    </th:block>
                                </th:block>
                            </div>
                            <h3 class="fs-2 text-body-emphasis">[[${b.boardTitle}]]</h3>
                            <p
                                style="height: 50px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">
                                [[${b.boardContent}]]
                            </p>
                            <p>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-person" viewBox="0 0 16 16">
                                    <path
                                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                </svg> <span class="writer">[[${b.nickName}]]</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-calendar2-event" viewBox="0 0 16 16">
                                    <path
                                        d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                                    <path
                                        d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                                </svg> <span class="createDate">[[${b.createDate}]]</span>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                    <path
                                        d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                </svg> <span class='count'>[[${b.boardCount}]]</span>
                            </p>
                        </div>
                        <button th:class="|${b.status == 'Y' ? 'btn btn-primary' : 'btn btn-dark'} changeState|"
                            th:text="${b.status == 'Y' ? '게시 중' : '게시 중단'}"></button>
                    </div>
                </div>

                <nav aria-label="Standard pagination example" style="float: right;">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" th:href="@{${loc}(page=${pi.currentPage-1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="p : ${#numbers.sequence(pi.startPage, pi.endPage)}">
                            <a class="page-link" th:href="@{${loc}(page=${p})}" th:text="${p}"></a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" th:href="@{${loc}(page=${pi.currentPage+1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </main>
        </div>
    </div>

    <div class="modal fade" id="exampleModalCenteredScrollable" tabindex="-1"
        aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle"></h1>
                    <div class="modal-body" style="text-align: right; font-size: 14px;"></div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">게시글 올리기</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        window.onload = () => {
            const imgsDivs = document.querySelectorAll(".imgsDiv");

            for (const imgsDiv of imgsDivs) {
                const imgs = imgsDiv.querySelectorAll("div");

                if (imgs.length > 5) {
                    for (let i = 0; i < imgs.length; i++) {
                        if (i > 5) {
                            imgs[i].remove();
                        }
                    }
                    const newDiv = document.createElement("div");
                    newDiv.classList.add("d-inline-flex");
                    newDiv.innerHTML = "<label>...</label>";
                    document.querySelector(".imgsDiv").append(newDiv);
                }
            }

            const modalContent = document.querySelector(".modal-content");
            const modalButton = document.querySelector(".modal-footer > button");

            let clickContent = null;

            document.querySelectorAll(".content").forEach(div => {
                const list = /*[[${ list }]]*/null;
                const aList = /*[[${ aList}]]*/null;

                div.addEventListener("click", function () {
                    clickContent = this;
                    list.forEach(b => {
                        if (b.boardId == this.querySelector("input[type=hidden]").value) {

                            //제목, 작성자 변경
                            modalContent.children[0].querySelector("h1").innerText = b.boardTitle;
                            modalContent.children[0].querySelector("div").innerText = b.nickName;

                            //내용, 사진 변경
                            modalContent.children[1].innerHTML = "";
                            modalContent.children[1].append(document.createElement("p").innerText = b.boardContent);
                            aList.forEach(a => {
                                if (a.refBoardId == b.boardId) {
                                    if (a.renameName.toLowerCase().includes('.jpg') ||
                                        a.renameName.toLowerCase().includes(".png")) {
                                        const newImg = document.createElement("img");
                                        newImg.src = "/" + a.renameName;
                                        newImg.style = "width:100%; height:200;";
                                        modalContent.children[1].append(newImg);
                                    } else {
                                        const newAttm = document.createElement("div");
                                        newAttm.innerText = "no image (" + a.originalName + ")";
                                        newAttm.style = "text-align: center; color: white;\
                                            background: lightgray; width: 100%; height: 200px;\
                                            line-height: 200px";
                                        modalContent.children[1].append(newAttm);
                                    }
                                }
                            })
                            if (this.nextElementSibling.innerText == '게시 중') {
                                //if(b.status=='Y') 라고 하지 않은 이유는?
                                modalButton.className = "btn btn-primary";
                                modalButton.innerText = "게시 중";
                            } else {
                                modalButton.className = "btn btn-dark";
                                modalButton.innerText = "게시 중단";
                            }
                        }
                    })
                })
                //선생님버전
                //modal내용을 타임리프로 안하고 this(클릭한 div)의 내용을 가져와 modal에 넣음
                //근데 aList는 가져왔음. 왜냐하면 사진 6개 이상인 글은 사진이 모자라서. 
            });

            modalButton.addEventListener("click", function () {
                const beforeStatus = this.innerText == "게시 중" ? 'Y' : 'N';

                fetch("/admin/status", {
                    method: "put",
                    headers: { "content-type": "application/json; charset=UTF-8" },
                    body: JSON.stringify({
                        boardId: clickContent.querySelector(".no").value,
                        status: beforeStatus == 'Y' ? 'N' : 'Y'
                    })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data == 1) {
                            let text = null;
                            let css = null;
                            if (beforeStatus == 'Y') {
                                text = "게시 중단";
                                css = "btn btn-dark";
                            } else {
                                text = "게시 중";
                                css = "btn btn-primary";
                            }
                            this.innerText = text;
                            this.className = css;
                            clickContent.nextElementSibling.innerText = text;
                            clickContent.nextElementSibling.className = css;
                        } else {

                        }
                    })
            });
        }
    </script>
</body>

</html>