<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
<style>
	html, body {height: 100%;}
	body {display: flex; align-items: center; padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5;}
	.form-signin {padding: 15px;}
	.form-signin .form-floating:focus-within {z-index: 2;}
	.form-signin input[type="password"] {margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0;}
	.form-signin a>label{color: black;}
	.form-signin a>label:hover{text-decoration: underline;}
</style>
</head>
<body class="text-center">
	<main class="form-signin w-100 m-auto">
		<a href="/home"><img class="mb-4" src="/image/springboot.png" width="150"></a><br>
		<form action="/member/fInfo" method="post" style="display: inline-block;">
			<h1 class="h3 mb-3 fw-normal">ID</h1>

			<div class="form-floating">
				<input type="text" class="form-control" id="floatingName" name="name" placeholder="">
				<label for="floatingName">NAME</label>
			</div>
			<div class="input-group form-floating">
				<input type="email" class="form-control" id="floatingIdEmail" name="email" placeholder="">
				<label for="floatingIdEmail">EMAIL</label>
				<button type="button" class="btn btn-outline-success sendEmail" >인증번호1</button>
			</div>
			<div class="input-group form-floating" style="display: none;">
				<input type="text" class="form-control" id="floatingIdConfirm" placeholder="">
				<label for="floatingIdConfirm">EMAIL CONFIRM</label>
				<button type="button" class="btn btn-outline-success verifyBtn">인증확인</button>
			</div>
			
			<br>
			
			<button class="w-100 btn btn-lg btn-success" type="submit">Find id</button>
		</form>
		
		<form action="/member/fInfo" method="post" style="margin-left: 150px; display: inline-block;">
			<h1 class="h3 mb-3 fw-normal">PW</h1>

			<div class="form-floating">
				<input type="text" class="form-control" id="floatingInput" name="id" placeholder="input your id">
				<label for="floatingInput">ID</label>
			</div>
			<div class="input-group form-floating">
				<input type="email" class="form-control" id="floatingPwEmail" name="email" placeholder="">
				<label for="floatingPwEmail">EMAIL</label>
				<button type="button" class="btn btn-outline-success sendEmail">인증번호2</button>
			</div>
			<div class="input-group form-floating" style="display: none;">
				<input type="text" class="form-control" id="floatingPwConfirm" placeholder="">
				<label for="floatingPwConfirm">EMAIL CONFIRM</label>
				<button type="button" class="btn btn-outline-success verifyBtn">인증확인</button>
			</div>
			
			<br>
			
			<button class="w-100 btn btn-lg btn-success" type="submit">Find pw</button>
		</form>
	</main>
    <script>
       const sendEmailBtns = document.querySelectorAll(".btn.btn-outline-success.sendEmail");
       const verifyBtns = document.querySelectorAll(".btn.btn-outline-success.verifyBtn");
       const findBtns = document.querySelectorAll(".w-100.btn.btn-lg.btn-success");
       let confirmData = '';
       let isVerified = false;

       window.onload =()=>{
            for(const btn of sendEmailBtns){
                btn.addEventListener('click', function(){
                    const email = btn.parentElement.children[0].value;
                    $.ajax({
                        url: '/member/echeck',
                        data : {email : email},
                        success : data => {
                            const confirmDiv =  $(btn).parent().next();
                            $(confirmDiv).slideDown();
                            confirmData = data;
                        },
                        error : data =>{
                            console.log();
                        }
                    })
                })
            }

            for(const btn of verifyBtns){
                btn.addEventListener('click', function(){
                    const verifyNum = btn.previousElementSibling.previousElementSibling;
                    if (verifyNum.value.trim() == ''){
                        alert('verifyNum empty');
                        verifyNum.focus();
                    }else{
                        if(verifyNum.value.trim() == confirmData){
                            alert('verified');
                            verifyNum.disabled=true;
                            btn.disabled=true;
                            isVerified = true;
                            console.log(btn.parentElement.nextElementSibling);
                            console.log(btn.parentElement.nextElementSibling.nextElementSibling);
                            btn.parentElement.nextElementSibling.nextElementSibling.disabled=false;
                        }
                        else{
                            alert('wrong');
                        }
                    }
                })
            }

            for(const findbtn of findBtns){
                if(!isVerified){
                    findbtn.disabled=true;
                }
            }
       }
       
    </script>
</body>
</html>