<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<meta charset="utf-8">
	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<style>
		abbr>a {
			color: black;
			text-decoration: none;
		}

		#delete {
			color: lightgray;
		}

		#delete:hover {
			color: gray;
			cursor: pointer;
		}

		input[type=checkbox] {
			font-size: 1.375rem;
		}

		label button {
			border: none;
			background: none;
		}

		span-button {
			margin: 0 0 0 auto;
		}
		.checked{
			color: lightgray;
			text-decoration: line-through;
		}
	</style>
</head>

<body>
	<main>
		<!-- common/navbar.html 삽입 -->
		<div th:replace="~{views/common/navbar.html :: navbar}"></div>
		<div class="container py-4">
			<div class="p-5 mb-4 bg-light rounded-3" style="display: flex;">
				<div class="container-fluid py-5" style="height: 100%; width: 65%; display: inline-block;">

					<div data-bs-toggle="dropdown"
						style="width: 100px; height: 100px; float: left; margin-right: 50px; border: 2px dashed black; border-radius:50%; overflow: hidden; cursor: pointer;">
						<th:block th:if="${session.loginUser.profile == null}">
							<img src="/image/no_image.png" width="100%" height="100%">
						</th:block>
						<th:block th:unless="${session.loginUser.profile == null}">
							<img th:src="@{/profiles/}+${session.loginUser.profile}" width="100%" height="100%">
						</th:block> <!-- overflow: 넘친거 hidden: 안보이게 -->
					</div>

					<input type="file" accept="image/*" style="display:none;" onchange="loadImage(this);">
					<!-- 파일확장자가 이미지에 관련된 것만 가져오겠다  -->
					<!-- 위치를 인풋 아래로 옮겨서? -->
					<ul class="dropdown-menu dropdown-menu-end shadow">
						<li><button class="dropdown-item">프로필 변경하기</button>
						<li><button class="dropdown-item">프로필 삭제하기</button>
					</ul>

					<h1 class="display-5 fw-bold">
						<abbr title="if you click this, you can go main page(/home).">
							<a href="/home">[[${session.loginUser.nickName}]]'s Information</a>
						</abbr>
					</h1>
					<label id="delete">> 탈퇴하기</label>
				</div>

				<div style="width: 33%; display: inline-block;">
					<h3><abbr title="Click this to slide the list down or up.">todo list</abbr></h3>
					<div class="list-group">
						<span id="todo-body">
							<label th:each="l : ${todolist}" class="list-group-item d-flex gap-3">
								<input class="form-check-input" type="checkbox" th:checked="${l.status == 'C'}" th:value="${l.todoNum}">
								<button class="starBtn" type="button" onclick="switchImportance(this)"th:style="|border: none; background: none; ${l.status=='C'? 'color: lightgray;':''}|" th:disabled="${l.status=='C'}">
									<svg th:if="${l.important == 'N'}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
										class="bi bi-star" viewBox="0 0 16 16">
										<path
											d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
									</svg>
									<svg th:if="${l.important == 'Y'}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" th:fill="|${l.status == 'I' ? 'gold' : 'currentColor'}|" class="bi bi-star-fill" viewBox="0 0 16 16">
										<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
									</svg>
								</button>
								<span class="pt-1" th:style="${l.status == 'C'? 'text-decoration: line-through; color: lightgray':''}">[[${l.todo}]]</span>
								<button type="button" onclick="deleteTodo(this)">x</button>
							</label>
						</span>
						<label class="list-group-item d-flex gap-3">
							<button type="button" class="btn btn-outline-secondary btn-sm" id="addTask">+</button>
							<input type="text" placeholder="Add new task..." style="border: none; outline: none;">
						</label>
					</div>
				</div>
			</div>

			<div class="row align-items-md-stretch">
				<div class="col-md-6">
					<div class="h-100 p-5 text-bg-success rounded-3">
						<h2>Basic Information</h2>
						<table>
							<tr>
								<td width="150px">ID</td>
								<td width="150px">[[${session.loginUser.id}]]</td>
							</tr>
							<tr>
								<td>NAME</td>
								<td th:text="${session.loginUser.name}"></td>
							</tr>
							<tr>
								<td>NICKNAME</td>
								<td>[[${session.loginUser.nickName}]]</td>
							</tr>
							<tr>
								<td>EMAIL</td>
								<td>[[${session.loginUser.email == null ? '-' :
									session.loginUser.email}]]</td>
							</tr>
							<tr>
								<td>GENDER</td>
								<td th:text="${session.loginUser.gender == 'M' ? '남자' : '여자'}"></td>
							</tr>
							<tr>
								<td>AGE</td>
								<td th:text="${session.loginUser.age}"></td>
							</tr>
							<tr>
								<td>PHONE</td>
								<td th:text="${session.loginUser.phone == null ? '-' : session.loginUser.phone}"></td>
							</tr>
							<tr>
								<td>ADDRESS</td>
								<td th:text="${session.loginUser.address == null ? '-' : session.loginUser.address}">
								</td>
							</tr>
							<tr>
								<td>ENROLL</td>
								<td>[[${session.loginUser.enrollDate}]]</td>
							</tr>
							<tr>
								<td>UPDATE</td>
								<td th:text="${session.loginUser.updateDate}"></td>
							</tr>
						</table>
						<br>
						<button class="btn btn-outline-light" type="button" onclick="location.href='/member/edit'">EDIT
							MY INFO</button>
					</div>
				</div>
				<div class="col-md-6">
					<div class="h-100 p-5 bg-light border rounded-3">
						<form action="/member/updatePassword" method="post">
							<h2>Update your Password</h2>
							<div class="col-12">
								<label for="currentPwd" class="form-label">Current PWD</label> <input type="password"
									class="form-control" id="currentPwd" name="currentPwd" required>
							</div>
							<br>
							<div class="col-12">
								<label for="newPwd" class="form-label">PWD to Change</label> <input type="password"
									class="form-control" id="newPwd" name="newPwd" required>
							</div>
							<br>
							<div class="col-12">
								<label for="newPwdConfirm" class="form-label">PWD to
									Change Confirm</label> <input type="password" class="form-control"
									id="newPwdConfirm" name="newPwdConfirm" required>
							</div>
							<br>
							<button class="btn btn-outline-secondary">UPDATE MY PWD</button>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					<div class="h-100 p-5 bg-light border rounded-3">
						<h2>My Boards Top 5</h2>
						<table style="text-align: center; width: 100%;">
							<tr>
								<th>No.</th>
								<th>Title</th>
								<th>Date</th>
								<th>Views</th>
							</tr>
							<!-- <c:foreach items="${list}" var="b"> -> 향상된 포문 for(Board b:list) -->
							<tr th:each="b: ${list}">
								<th:block th:if="${b.ID_TYPE > 0}">
									<td>[[${b.ID_TYPE}]]</td>
									<td th:text="${b.BOARD_TITLE}"></td>
									<td>[[${#strings.arraySplit(b.MODIFY_DATE, ' ')[0]}]]</td>
									<td th:text="${b.COUNT_CONTENT}"></td>
								</th:block>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<div class="h-100 p-5 text-bg-dark rounded-3">
						<h2>My Replies Top 5</h2>
						<table style="text-align: center; width: 100%;">
							<tr>
								<th>Type</th>
								<th>Title</th>
								<th>Content</th>
								<th>Date</th>
							</tr>
							<tr th:each="r: ${list}" th:if="${r.ID_TYPE < 0}">
								<td>[[${r.ID_TYPE == -2 ? 'Board' : 'Attachment'}]]</td>
								<td th:text="${r.BOARD_TITLE}"></td>
								<td>[[${r.COUNT_CONTENT}]]</td>
								<td th:text="${#strings.listSplit(r.MODIFY_DATE, ' ')[0]}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<footer class="pt-3 mt-4 text-muted border-top"> &copy; 2022
			</footer>
		</div>
	</main>

	<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
		<div class="modal-dialog" role="document">
			<div class="modal-content rounded-3 shadow">
				<div class="modal-body p-4 text-center">
					<h3 class="mb-0">정말로 탈퇴하시겠습니까?</h3>
					<p class="mb-0">탈퇴 후 계정은 복구할 수 없습니다.</p>
				</div>
				<div class="modal-footer flex-nowrap p-0">
					<button type="button"
						class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end"
						onclick="location.href='/member/delete'">
						<strong>네</strong>
					</button>
					<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0"
						data-bs-dismiss="modal">아니오</button>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		window.onload = () => {

			/*<![CDATA[*/
			const loginUser = /*[[${session.loginUser}]]*/'loginUser';
			/*]]>*/

			if (loginUser == null) {
				alert('로그인 후 이용하세요');
				location.href = '/member/signIn';
			}

			document.getElementById('delete').addEventListener('click', () => {
				$('#modalChoice').modal('show');
			});
			// > 자식
			/* document.querySelector('.container-fluid.py-5>div').addEventListener('click', () =>{
			   document.querySelector('input[type=file]').click();
			}); */

			document.querySelector('.dropdown-menu>li:first-child').addEventListener('click', () => {
				document.querySelector('input[type=file]').click();
			});

			document.querySelector('.dropdown-menu>li:last-child').addEventListener('click', () => {
				loadImage();
			});

			document.querySelector('div>h3').addEventListener('mouseleave', function () {
				this.style.fontweight = 'bold';
			});

			document.querySelector('div>h3').addEventListener('mouseleave', function () {
				this.style.fontweight = 'normal';
			});

			document.querySelector('div>h3').addEventListener('click', function(){
				$('#todo-body').slideToggle();
			});
			[...document.querySelectorAll('span~button')].map((x, index, array)=>{
				x.addEventListener('mouseover', function(){
					this.style.fontWeight='bold';
				});
				x.addEventListener('mouseleave', function(){
					this.style.fontWeight = 'normal';
				});
				// x.addEventListener('click', function(){
				// 	const checkbox = this.parentElement.querySelector("input");
				// 	const important = this.parentElement.querySelector(".starBtn").querySelector(".bi-star-fill")? true:false;
				// 	console.log(important);
				// 	let confirm = false;

				// 	if (important){
				// 		confirm = window.confirm("*중요 표시*된 할 일 입니다.정말 삭제하시겠습니까?");
				// 	}else{
				// 		confirm = window.confirm("정말 삭제하시겠습니까?");
				// 	};

				// 	if (confirm){
				// 		$.ajax({
				// 			url: "/member/ldelete",
				// 			data: {todoNum : checkbox.value},
				// 			success: data=>{
				// 				this.parentElement.remove();
				// 			}
				// 		});
				// 	};
				// });
			});
			
			document.querySelector('#addTask').addEventListener('click', function(){
				const todo = this.nextElementSibling;
				const todoValue = todo.value.trim();
				console.log(todoValue);
				console.log(loginUser);
				if (todoValue == ''){
					alert('할 일을 적어주세요');
					todo.focus();
				}else{
					$.ajax({
						url: '/member/linsert',
						data: {
							todo: todoValue,
							writer: loginUser.id
						},
						success : data=>{
							if (data ==1){
								const label = document.createElement('label');
								label.classList.add('list-group-item', 'd-flex', 'gap-3');
								const input = document.createElement('input');
								input.setAttribute('type', 'checkbox');
								input.setAttribute('class', 'form-check-input');

								const important = document.createElement('button');
								important.setAttribute('type', 'button');
								important.setAttribute("onclick","switchImportance(this)");
								important.classList.add("starBtn");
								important.innerHTML=
									'<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"'
									+'class="bi bi-star" viewBox="0 0 16 16">'
									+'<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />'
									+'</svg>';

								const span = document.createElement('span');
								span.setAttribute('class', 'pt-1');
								span.innerText = todoValue;

								label.append(input);
								label.append(important);
								label.append(span);
								label.innerHTML += '<button type="button" onclick="deleteTodo()">x</button>';

								const todoBody = document.querySelector('#todo-body');
								todoBody.append(label);

								todo.value = '';
							}else{
								alert('할 일 추가 중 오류가 발생하였습니다.');
							}
						},
						error : data=>{
							console.log(error);
						}
					})
				}
			});

			[...document.querySelectorAll(".form-check-input")].map((checkbox, index, array)=>{
				checkbox.addEventListener("click", function(){
					const checked = this.checked? 'C':'I';
					const importantStar = this.parentElement.querySelector(".bi.bi-star-fill");
					console.log(checked, this.value);
					$.ajax({
						url: '/member/lupdate',
						data: {status: checked , todoNum: this.value},
						success: data=>{
							if(checked=='C'){
								this.parentElement.querySelector("button:nth-child(2)").style.color="lightgray";
								importantStar? importantStar.style.fill="lightgray" : null;
								this.parentElement.querySelector("span").style.color="lightgray";
								this.parentElement.querySelector("span").style.textDecoration="line-through";
							}else{
								this.parentElement.querySelector("button:nth-child(2)").style.color="inherit";
								importantStar? importantStar.style.fill="gold" : null;
								this.parentElement.querySelector("span").style.color="inherit";
								this.parentElement.querySelector("span").style.textDecoration="none";

							}
						},
						error: data=> console.log(data)
					})
				});
			});

			// [...document.querySelectorAll(".starBtn")].map((btn, index, array)=>{
			// 	btn.addEventListener('click', function(){
			// 		let important = this.querySelector(".bi-star-fill")? 'Y':'N';
			// 		const checkbox = this.previousElementSibling;
			// 		console.log("before click : "+important);
			// 		if (important =='N'){
			// 			important ='Y';
			// 		}else{
			// 			important ='N';
			// 		}
			// 		console.log("after click : "+important+", todoNum : "+checkbox.value);
			// 		$.ajax({
			// 			url: "/member/lupdate",
			// 			data:{important: important, todoNum: checkbox.value},
			// 			success : data=>{
			// 				if(important=='Y'){
			// 					const svg = '<svg xmlns="http://www.w3.org/2000/svg" width="16"height="16" '+
			// 						'fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">'+
			// 						'<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 '+
			// 						'6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 '+
			// 						'0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.'+
			// 						'36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>';
			// 					btn.innerHTML=svg;
			// 				}else{
			// 					const svg = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" '+
			// 						'fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">'+
			// 						'<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 '+
			// 						'2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.'+
			// 						'314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 '+
			// 						'0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 '+
			// 						'4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 '+
			// 						'6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 '+
			// 						'0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 '+
			// 						'3.957-3.686-1.894a.5.5 0 0 0-.461 0z" /></svg>';
			// 					btn.innerHTML=svg;
			// 				}
			// 			}
			// 		});
			// 	})		
			// });
		}

		const loadImage = file => {
			// console.log(file);
			// 프로필 preview

			let imgFile = null;
			if (file != undefined) {
				const reader = new FileReader();
				console.log(reader);
				reader.addEventListener('load', function () {
					file.previousElementSibling.children[0].src = this.result;
				});
				imgFile = file.files[0];
				reader.readAsDataURL(imgFile);
			}

			// 프로필 서버에 넘기기
			// 파일데이터를 넘겨야해서
			const formData = new FormData();
			formData.append('profile', imgFile);
			$.ajax({
				url: ' /member/profile',
				data: formData,
				type: 'post',
				processData: false, // data를 String으로 변환 여부
				contentType: false, // 전달하는 데이터 형식(false: 설정하지 않음, application/x-www-form-urlencoded)
				success: data => {
					//console.log(data);
					if (data != 1) {
						alert('프로필 변경을 실패하였습니다. 다시 시도해주세요.');
						location.reload();
					}
					if (imgFile == null) {
						document.querySelector('.container-fluid.py-5 img').src = '/image/no_image.png';
					}
				},
				error: data => console.log(data)
			});
		};
		const switchImportance = btn =>{
			let important = btn.querySelector(".bi-star-fill")? 'Y':'N';
			const checkbox = btn.previousElementSibling;
			console.log("before click : "+important);
			if (important =='N'){
				important ='Y';
			}else{
				important ='N';
			}
			console.log("after click : "+important+", todoNum : "+checkbox.value);
			$.ajax({
				url: "/member/lupdate",
				data:{important: important, todoNum: checkbox.value},
				success : data=>{
					if(important=='Y'){
						const svg = '<svg xmlns="http://www.w3.org/2000/svg" width="16"height="16" '+
							'fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">'+
							'<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 '+
							'6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 '+
							'0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.'+
							'36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>';
						btn.innerHTML=svg;
					}else{
						const svg = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" '+
							'fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">'+
							'<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 '+
							'2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.'+
							'314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 '+
							'0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 '+
							'4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 '+
							'6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 '+
							'0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 '+
							'3.957-3.686-1.894a.5.5 0 0 0-.461 0z" /></svg>';
						btn.innerHTML=svg;
					}
				}
			});
		};
		const deleteTodo = btn => {
			const checkbox = btn.parentElement.querySelector("input");
			const important = btn.parentElement.querySelector(".starBtn").querySelector(".bi-star-fill")? true:false;
			console.log(important);
			let confirm = false;

			if (important){
				confirm = window.confirm("*중요 표시*된 할 일 입니다.정말 삭제하시겠습니까?");
			}else{
				confirm = window.confirm("정말 삭제하시겠습니까?");
			};

			if (confirm){
				$.ajax({
					url: "/member/ldelete",
					data: {todoNum : checkbox.value},
					success: data=>{
						btn.parentElement.remove();
					}
				});
			};
		}

	</script>
</body>

</html>