<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://code.jquery.com/jquery-3.7.1.js"
	integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
	crossorigin="anonymous"></script>
</head>
<body class="bg-light">
	<div th:replace="~{views/common/navbar :: navbar}"></div>
	<div class="container">
		<main>
			<div class="py-5 text-center">
				<a href="/home"><img class="d-block mx-auto mb-4" src="/image/springboot.png" width="130"></a>
				<h2>WRITE BOARD</h2>
			</div>

			<div style="margin-left: 350px; margin-right: 350px;">
				<form class="needs-validation" action="/attm/insert" method="POST" enctype="multipart/form-data" id="attmForm">
					<div class="row g-3">
						<div class="col-12">
							<label for="boardTitle" class="form-label">TITLE</label>
							<input type="text" class="form-control" id="boardTitle" name="boardTitle">
						</div>

						<div class="col-12">
							<div class="input-group">
					          <span class="input-group-text">CONTENT</span>
					          <textarea class="form-control" rows="10" name="boardContent" style="resize: none;"></textarea>
					        </div>
						</div>
						
						<button type="button" class="w-25 btn btn-outline-success" id="addFile">add file</button>
						<div id="fileArea">
							<div class="mb-3">
								<input type="file" class="form-control form-control-lg" name="file">
							</div>
						</div>
						<br><br><br><br><br>
						
						<button class="w-100 btn btn-success btn-lg" type="button" id="submitAttm">SUBMIT</button>
						<button class="w-100 btn btn-dark btn-lg" type="button" onclick="javascript:history.back();">BACK</button>
					</div>
				</form>
			</div>
		</main>

		<footer class="my-5 pt-5 text-muted text-center text-small"></footer>

		<div class="modal fade" tabindex="-1" role="dialog" id="modalChoice">
			<div class="modal-dialog" role="document">
				<div class="modal-content rounded-3 shadow">
					<div class="modal-body p-4 text-center">
						<h3 class="mb-0">첨부파일이 삽입되지 않았습니다.</h3>
						<p class="mb-0">작성된 글은 일반 게시판으로 옮겨집니다.</p>
					</div>
					<div class="modal-footer flex-nowrap p-0">
						<button type="button"
							class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end"
							id="moveBoard">
							<strong>네</strong>
						</button>
						<button type="button"
							class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0"
							data-bs-dismiss="modal">아니오</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		window.onload=()=>{
			const fileArea = document.querySelector("#fileArea");
			document.getElementById("addFile").addEventListener("click", ()=>{
				const newDiv = document.createElement("div");
				newDiv.classList.add("mb-3");
				newDiv.innerHTML = "<input type='file' class='form-control form-control-lg' name='file'>";
				fileArea.append(newDiv);
			});

			const form = document.getElementById("attmForm");
			document.getElementById("submitAttm").addEventListener("click", ()=>{
				const files = document.getElementsByName("file");

				let isEmpty = true;
				for (const f of files){
					if(f.value !=""){
						isEmpty = false;
					}
				}
				if (isEmpty){
					$("#modalChoice").modal("show");
				}else{
					form.submit();
				}
			});

			document.getElementById("moveBoard").addEventListener("click", ()=>{

				form.submit();
			})
		}

	</script>
</body>
</html>