<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <style>
        span {
            font-size: 12px;
        }

        .table td {
            cursor: pointer;
        }

        .table td>div {
            border: 1px solid black;
            height: 80%;
            width: 45%;
            display: inline-block;
            padding-top: 3%;
            cursor: pointer;
        }

        .select {
            background: lightgray;
        }

        .unselect {
            background: none;
        }

        .vibration {
            animation: vibration 0.1s infinite;
        }

        @keyframes vibration {
            from {
                transform: rotate(1deg);
            }

            to {
                transform: rotate(-1deg);
            }
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>

<body>
    <div th:replace="~{views/common/navbar :: navbar}"></div>
    <div th:replace="~{views/common/adminSymbol :: symbol}"></div>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="~{views/common/adminbar :: sidebar}"></div>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Members</h1>
                    <div>
                        <span>* 더블클릭을 하면 수정 칸으로 바뀝니다</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>* 수정 후 엔터를 누르면 수정이 완료됩니다</span>
                    </div>
                </div>

                <div class="bd-example">
                    <table class="table table-hover" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                                <th>NICKNAME</th>
                                <th>EMAIL</th>
                                <th>GENDER</th>
                                <th>AGE</th>
                                <th>PHONE</th>
                                <th>ADDRESS</th>
                                <th>ENROLL</th>
                                <th>ADMIN</th>
                                <th>STATUS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="m:${list}">
                                <td th:text="${m.id}"></td>
                                <td>[[${m.name}]]</td>
                                <td>[[${m.nickName}]]</td>
                                <td>[[${m.email == null ? '-' : m.email}]]</td>
                                <td>[[${m.gender}]]</td>
                                <td>[[${m.age}]]</td>
                                <td>[[${m.phone == null ? '-' : m.phone}]]</td>
                                <td>[[${m.address == null ? '-' : m.address}]]</td>
                                <td>[[${m.enrollDate}]]</td>
                                <td>
                                    <div th:class="${m.isAdmin == 'Y' ? 'select' : 'unselect'}">Y</div>
                                    <div th:class="${m.isAdmin == 'N' ? 'select' : 'unselect'}">N</div>
                                </td>
                                <td>
                                    <div th:class="${m.memberStatus == 'Y' ? 'select' : 'unselect'}">Y</div>
                                    <div th:class="${m.memberStatus == 'N' ? 'select' : 'unselect'}">N</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <script>
        window.onload = () => {
            //      1. 더블클릭해서 input type text 만들기 + 수정할 수 없는 항목 거르기 id, enroll admin status
            //     2. 더블클릭해서 textfield를 만들었을 때 먼저 생성된 textfield는 사라지게 만들기
            //     3. 수정칸을 만들었다가 취소하고 싶어서 다른 부분을 누르면 수정칸이 사라지게 하는 작업
            //     4. 데이터 수정 적옹 -> 비동기 방식 사용

            const tds = document.getElementsByTagName('td');
            let beforeData = null;

            //  3. 수정칸을 만들었다가 취소하고 싶어서 다른 부분을 누르면 수정칸이 사라지게 하는 작업
            document.querySelector('body').addEventListener('click', event => {
                //console.log('click');
                for (let i = 0; i < tds.length; i++) {
                    //         console.log(tds[i].children[0]);
                    if (tds[i].children[0] != undefined && tds[i].children[0].value != undefined) {
                        if (event.target.value == undefined) {
                            tds[i].innerHTML = '<td>' + beforeData + '</td>';
                        }
                    }
                }
            });

            for (let i = 0; i < tds.length; i++) {
                const index = i % 11;
                //상태값 변경
                const stateButtons = tds[i].querySelectorAll('div');
                for (const button of stateButtons) {
                    button.addEventListener('click', function () {
                        if (this.className == 'unselect') {
                            // 회원의 상태값을 바꾸는 비동기 작성 : fetch
                            // 단, /admin/members 그대로 활용(메소드도 그대로 활용)

                            fetch('/admin/members', {
                                method: 'put',
                                headers: { 'content-type': 'application/json; charset=UTF-8' },
                                body: JSON.stringify({
                                    value: this.innerText,
                                    column: document.getElementsByTagName('th')[index].innerText,
                                    id: this.parentElement.parentElement.children[0].innerText
                                })
                            })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data);
                                    if (data == 1) {
                                        this.className = 'select';
                                        for (const siblings of this.parentElement.children) {
                                            if (siblings != this) {
                                                siblings.className = 'unselect';
                                            }
                                        }
                                    } else {
                                        alert('상태 변경에 실패하여 페이지가 새로고침 됩니다.');
                                        location.reload();
                                    }
                                })
                        }
                    });
                }



                tds[i].addEventListener('dblclick', function () {
                    //            console.log(i);
                    if (document.getElementsByClassName('updateData').length == 0) {
                        // 더블클릭해서 수정칸 만들기
                        // const index = i % 11;
                        if (index != 0 && index != 8 && index != 9 && index != 10) {
                            beforeData = this.innerText;
                            if (index == 3) {
                                const domain = this.innerText.split('@')[1];
                                let selected = '<select class="updateData">\
                                      <option>naver.com</option>\
                                      <option>gmail.com</option>\
                                      <option>nate.com</option>\
                                      <option>hanmail.com</option>\
                                   </select>';
                                if (domain == 'gmail.com') {
                                    selected = '<select class="updateData">\
                                <option>naver.com</option>\
                                <option selected>gmail.com</option>\
                                <option>nate.com</option>\
                                <option>hanmail.com</option>\
                             </select>';
                                } else if (domain == 'nate.com') {
                                    selected = '<select class="updateData">\
                                   <option>naver.com</option>\
                                   <option>gmail.com</option>\
                                   <option selected>nate.com</option>\
                                   <option>hanmail.com</option>\
                                </select>';

                                } else if (domain == 'hanmail.com') {
                                    selected = '<select class="updateData">\
                                   <option>naver.com</option>\
                                   <option>gmail.com</option>\
                                   <option>nate.com</option>\
                                   <option selected>hanmail.com</option>\
                                </select>';
                                }
                                this.innerHTML = '<input type="text" value="' + this.innerText.split('@')[0] + '" size = "5" class="updateData">@' + selected;
                            } else if (index == 4) {
                                let checked = '<input type= "radio" name= "gender" value="M" class="updateData"> M\
                                <input type= "radio" name="gender" value="F" checked class="updateData"> F';
                                if (this.innerText == 'M') {
                                    checked = '<input type= "radio" name= "gender" value="M" checked class="updateData"> M\
                                   <input type= "radio" name="gender" value="F" class="updateData"> F';
                                }
                                this.innerHTML = checked;
                            } else if (index == 5) {
                                this.innerHTML = '<input type="number" value="' + this.innerText + '" size="5" min="0" max="100" class="updateData">';
                            } else {
                                this.innerHTML = '<input type="text" value="' + this.innerText + '" size="12" class="updateData">';
                            }

                            // 데이터 수정 비동기 적용
                            const updateDatas = document.getElementsByClassName('updateData');
                            console.log(updateDatas);
                            for (const update of updateDatas) {
                                update.addEventListener('keyup', function (event) {
                                    if (event.key == 'Enter') {
                                        let upData = '';
                                        if (update.type == 'radio') {
                                            for (const elem of updateDatas) {
                                                if (elem.checked) {
                                                    upData = elem.value;
                                                    break;
                                                }
                                            }
                                        } else {
                                            for (let i = 0; i < updateDatas.length; i++) {
                                                if (i == 0) {
                                                    upData = updateDatas[i].value;
                                                } else {
                                                    upData += '@' + updateDatas[i].value;
                                                }
                                            }
                                        }
                                        // ajax -> fetch()
                                        // fetch('url', {설정})
                                        // .then(성공 시)
                                        // .catch(에러 시)
                                        fetch('/admin/members', {
                                            method: 'put',
                                            headers: { 'content-type': 'application/json; charset=UTF-8' },
                                            body: JSON.stringify({
                                                value: upData,
                                                column: document.getElementsByTagName('th')[index].innerText,
                                                id: this.parentElement.parentElement.children[0].innerText
                                            })
                                        })
                                            .then(response => response.json())//응답받은 제이슨 코드를 자바스크립트로 변환
                                            .then(data => {
                                                console.log(data);
                                                if (data == -1) {
                                                    this.classList.add('vibration');
                                                    setTimeout(() => {
                                                        this.classList.remove('vibration');
                                                    }, 400)
                                                } else if (data == 1) {
                                                    this.parentElement.innerText = upData;
                                                } else {
                                                    alert('업데이트가 되지 않았습니다. 페이지가 새로고침 됩니다.');
                                                    location.reload();
                                                }
                                            });
                                        /*  $.ajax({
                                            url: '/admin/members',
                                            type: 'put',
                                            data: {
                                               val: upData,
                                               col: document.getElementsByTagName('th')[index].innerText,
                                               id: this.parentElement.parentElement.children[0].innerText
                                            },
                                            success: data =>{
                                               if(data == 1){
                                                  this.parentElement.innerText = upData;
                                               }else{
                                                  alert('업데이트가 되지 않았습니다');
                                               }
                                            },
                                            error: data => console.log(data)
                                            
                                         }) *///ajax end
                                    }
                                })
                            }
                        } else {
                            alert('수정할 수 없는 항목입니다.');
                        }
                    } else {
                        // 더블클릭해서 textfield를 만들었을 때 먼저 생성된 textfield를 사라지게 하는 작업
                        for (let j = 0; j < tds.length; j++) {
                            //                     console.log(tds[j].children[0]);
                            if (tds[j].children[0] != undefined && tds[j].children[0].value != undefined) {

                                if (tds[j] != this) {
                                    tds[j].innerHTML = '<td>' + beforeData + '</td>';
                                }
                                break;
                            }
                        }
                    }


                });
            }
        }
    </script>

    </script>











</body>

</html>